<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
    
    <head>
        <meta charset="utf-8">
        <title>Taco Cloud</title>
        <!--
        This is the orginal css location with spring boot th
		<link rel="stylesheet" th:href="@{/styles/design.css}"/>
        -->
        <!--
        This is for debugging, when trying responsiveness
        -->
        <link rel ="stylesheet" href="../static/styles/design.css"/>

        
    </head>
    <body>
        <h1>Design your Taco</h1>
        <form method="POST" th:object="${taco}">
            <fieldset>
                <div class="double-input">
                    <div>
                        <h3>Design your wrap</h3>
                        <div class="checkbox" th:each="ingredient : ${wrap}">
                            <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" th:id="${ingredient.id}" />
                            <label th:for="${ingredient.id}" th:text="${ingredient.name}"> INGREDIENTS</label>
                        </div>
                    </div>

                    <div>
                        <h3>Design your Protiens</h3>
                        <div class="checkbox" th:each="ingredient : ${protein}">
                            <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" th:id="${ingredient.id}" />
                            <label th:for="${ingredient.id}" th:text="${ingredient.name}"> INGREDIENTS</label>
                        </div>
                    </div>
                </div>
                <div class="double-input"> 
                    <div>
                        <h3>Design your Cheeses</h3>
                        <div class="checkbox" th:each="ingredient : ${cheese}">
                            <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" th:id="${ingredient.id}" />
                            <label th:for="${ingredient.id}" th:text="${ingredient.name}"> INGREDIENTS</label>
                        </div>
                    </div>

                
                    <div>
                        <h3>Design your Veggies</h3>
                        <div class="checkbox" th:each="ingredient : ${veggies}">
                            <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" th:id="${ingredient.id}" />
                            <label th:for="${ingredient.id}" th:text="${ingredient.name}"> INGREDIENTS</label>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Design your Sauces</h3>
                    <div class="checkbox" th:each="ingredient : ${sauce}">
                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}" th:id="${ingredient.id}" />
                        <label th:for="${ingredient.id}" th:text="${ingredient.name}"> INGREDIENTS</label>
                    </div>
                </div>

                <div class="taconame">
                    <h3>Name your taco</h3>
                    <div class="checkbox">
                        <label for="name">Name<span>*</span></label>
                        <input type="text" name="name" id="name" required />
                    </div>
                </div>

                <div>
                    <button>Submit Your Taco</button>
                </div>
                
            </fieldset>
        </form>
    </body>
    


</html>